<div class="heading-text">
  <h1>{{title}}</h1>
  <div class="updated-meta">- updated {{updated}}</div>
</div>
{{#if server}}
  <script>
    document.title = {{{safeTitle}}} + ' - Offline Wikipedia';
    history.replaceState({}, document.title, '/wiki/' + {{{safeUrlId}}} + location.search);
  </script>
{{/if}}

<label class="cache-toggle"{{#unless cacheCapable}} style="visibility: hidden"{{/unless}}>
  <paper-toggle-button name="cache"{{#if cached}} checked{{/if}}></paper-toggle-button>
  <span class="read-offline-txt">Read offline</span>
</label>
